

<div class="container">
FirstName :<input type="fname" class="fullname" [(ngModel)]="getName">
LastName :<input type="lname" class="fullname" [(ngModel)]="getName1"><br><br><br>


age :<input type="number" class="ages" [(ngModel)]="age1"><br><br><br>

class :<input type="class" class="section" [(ngModel)]="class1"><br><br><br>

subject :<input type="checkbox" class="c1" value="C" [(ngModel)]="ch1">C
         <input type="checkbox" class="c1" value="C++" [(ngModel)]="ch1">C++
         <input type="checkbox" class="c1" value="Java" [(ngModel)]="ch1">JAVA
         <input type="checkbox" class="c1" value="Angular" [(ngModel)]="ch1">ANGULAR<br><br><br>


phoneNumber :<input type="number" class="number1" [(ngModel)]="pnumber"><br><br><br>

Email :<input type="email" class="email1" [(ngModel)]="emails"><br><br><br>

Address :<input type="address" class="add1" [(ngModel)]="add"><br><br>

<button [style]="css" class="button1" (click)="changeName()">submit</button>
</div>

<p>{{title}}</p>
<p>{{a1}}</p>
<p>{{a2}}</p>
<p>{{a3}}</p>
<p>{{a4}}</p>
<p>{{a5}}</p>
<p>{{a6}}</p>
<p>{{a7}}</p>
