div.container{
    background-color: aliceblue;
    border: 3px solid black; 
    height: 500px;
    width: 1000px;
    position: relative;
    justify-content: space-around;
}
input.fullname{
    height: 20px;
}
.c1{
    flex-flow: row;
    position: absolute;
}